html {
  background: transparent url(assets/img/bg-top.png?1) center top no-repeat;
  background-size: 1200px;
  padding-top: 200px;
}
body {
  background: transparent url(assets/img/bg-bottom.png?1) center bottom no-repeat;
  background-size: 1200px;
  padding: 30px 10%;
  font-family: 'Nunito', sans-serif;
}

h1, h2 {
  font-family: 'Libre Baskerville', serif;
}

figure {
  max-width: 300px;
  float: left;
  background: lightblue;
  padding: 20px;
}
img {
  margin: 0 0 20px 0;
  max-width: 100%;
  border-radius: 10px;
}

aside {
  float: right;
  width: 33%;
  margin: 0 20px;
  padding: 20px;
  background: lightblue;
}

footer {
  font-size: 1.6rem;
  margin: 50px 0 350px 0;
}
