---
title: News
description: Artikel zu den Themen Lüften und CO<sub>2</sub>-Messung
---

<div class="text-container">
	<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Post Hinzufügen</a></p>
	
	{% include list-posts.html posts=paginator.posts %}
	
	{% if paginator.total_pages > 1 %}
		<!-- Pagination links -->
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{% include relative-src.html src=paginator.previous_page_path %}" class="previous btn">&larr; Neuere Posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{% include relative-src.html src=paginator.next_page_path %}" class="next btn">Ältere Posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</div>
