.map {
	width: 100%;
	margin: 100px 0;
	height: 400px;
}

.statusbox {
	border: 1px solid #7a7a7a;
	padding: 20px;

	.available {
		color: green;
	}

}

.contact-box {
	@media (min-width: 750px) {
		display: flex;
		justify-content: space-around;

		> div {
			width: 50%;
			padding: 0 40px 0 0;
		}
	}
}
